# Virtual environments
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# User requested exclusions
uitest/
reports/
run.bat
run.py
seed.py
config.py
.gitignore


# Markdown files
*.md

# Database file
*.sqlite3
*.db
